*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.display-container{
    /* height: 70px; */
}
#disp-input{
    height: 50px;
    width: 100%;
    border: none;
    font-size: 25px;
    overflow: hidden;
    padding: 2px;
}
.screen,.calc{
    background-color: rgb(237, 231, 231);
}